# Base de données PostgreSQL
DATABASE_URL="postgresql://launched_user:your_secure_password@localhost:5432/launched_db?schema=public"

# Discord OAuth Application (Créer sur https://discord.com/developers/applications)
DISCORD_CLIENT_ID="your_discord_client_id"
DISCORD_CLIENT_SECRET="your_discord_client_secret"
DISCORD_REDIRECT_URI="https://launched.infuseting.fr/api/auth/discord/callback"

# IDs Discord des Administrateurs (séparés par des virgules)
DISCORD_ADMIN_IDS="your_discord_id_here"
DISCORD_GUILD_ID="1496947207847411965"
NEXT_PUBLIC_DISCORD_INVITE_URL="https://discord.gg/kfzyScBSqS"

# Clé secrète pour les sessions JWT (ex: openssl rand -base64 32)
JWT_SECRET="your_random_32_character_jwt_secret"

# SFTPGo REST API & Configuration Serveur
SFTPGO_API_URL="http://127.0.0.1:8080/api/v2"
SFTPGO_API_KEY="your_sftpgo_admin_api_key"
SFTPGO_SFTP_HOST="launched.infuseting.fr"
SFTPGO_SFTP_PORT="2022"

# Dossier physique racine des sessions sur le serveur Linux
STORAGE_BASE_DIR="/srv/sftpgo/sessions"

# URL publique du site web
NEXT_PUBLIC_APP_URL="https://launched.infuseting.fr"
